h1 {
  font-size: 100px;
  color: #339FFF;
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
}

.button {
  padding: 0px 35px;
  color: #51E433;
}

p, h2, h3 {
  font-size: 40px;
}

.hero {
  background: url("https://static.pexels.com/photos/57832/pexels-photo-57832.jpeg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 0px;
}

nav li {
  display: inline-block;
}
